<h1>Messages</h1>

<p>
  <%= link_to_pane "New message", new_message_path %>
</p>

<hr>

<% @messages.each do |message| %>
  <p>
    <%= link_to_pane message.content, message_path(message) %>
    -
    <%= link_to_overlay "Edit", edit_message_path(message), overlay_type: :pane, overlay_args: { title: "Edit message" } %>
  </p>
<% end %>
