<h1>Dialog examples</h1>

<p>
  <%= link_to_dialog "New article", new_dialogs_article_path, overlay_target: :_self %>
</p>

<hr>

<% @articles.each do |article| %>
  <p>
    <%= link_to_overlay article.body, dialogs_article_path(article) %>
    -
    <%= link_to_overlay "Edit", edit_dialogs_article_path(article), overlay_type: :dialog, overlay_args: { title: "✏️ Edit article" } %>
  </p>
<% end %>
